@model IEnumerable<E_Commerce.Models.User>


@{
    ViewData["Title"] = "IndexUsers";
}
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>IndexUsers</h1>

<p>
    <a asp-action="UserCreate">Create New</a>
</p>
<table class="table" style="    margin-left: 20vw;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="UserEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="UserDetails" asp-route-id="@item.Id">Details</a> |
                    <form method="post" action="@Url.Action("UserDelete", "Admin")" onsubmit="return confirm('Are you sure you want to delete this product?');">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>